@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    --lilac: #EEEEFF;
    --lilac-dark: #846AFF;
    --lilac-light: #F8F8FF;
    --black: #121214;
    --gray: #7C7C8A;
    --gray-light: #EAEAEA;
    --white: #FFF;

    --font-roboto: 'Roboto', sans-serif;
    font-size: 62.5%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background-color: var(--black);
}

html::-webkit-scrollbar-thumb {
    background-color: var(--lilac-dark);
    border-radius: 0.6rem;
}

body {
    background: var(--white);
    color: var(--black);
    font-family: var(--font-roboto);
    font-size: 1.6rem;
}

h1 {
    font-size: 4rem;
    font-weight: 600;
    line-height: 120%;
}

h2 {
    font-size: 3.2rem;
    font-weight: 600;
}

h3 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 130%;
}

.container {
    max-width: 124rem;
    padding: 0 1.5rem;
    margin: 0 auto;
}

/* -- HEADER -- */
.hero {
    background: var(--lilac-light);
}

.hero .container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 12rem;
}

.hero__text {
    max-width: 58.1rem;
    padding: 13.5rem;
}

.hero__text span {
    color: var(--lilac-dark);
}

.hero__text p {
    font-size: 2.1rem;
    line-height: 150%;
    margin: 2.2rem 0 4.5rem 0;
}

.hero__text button {
    padding: 1.4rem 3.2rem;
    background-color: var(--lilac-dark);
    color: var(--white);
    font-size: 1.7rem;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 0.5rem;
    border: none;
}

.hero__text button:hover {
    opacity: 0.9;
}

.hero__image {
    padding: 0 1rem;
    margin-top: 8.7rem;
}

.hero__image img {
    width: 100%;
}

/* -- MAIN -- */